.kõik {
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 2%;
    background-image: url("https://lorelleteaches.files.wordpress.com/2012/08/seamless-background-image-tile.jpg");
    background-repeat: repeat;
}
.veerg {
    width: 50%;
    height: 100%;
}
.rida{
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}
.logo-img {
    width: 75px;
}
.socialmedia {
    text-align: center;
    width: 50%;
    
}
.title {
    font-size: 100px;
    margin-top: 30px;
    margin-bottom: 1%;
    font-family: Great Vibes;
}


.galerii {
    width: 100%;
    box-shadow: 5px 5px 10px;
}

.kaart {
    box-shadow: 5px 5px 10px;
}

.ümbrusl{
    padding: 30px;
    padding-left: 0px;
    
}

.ümbrusr{
    padding: 30px;
    padding-right: 0px;
}

.lehed {
    font-family: 'Franklin Gothic Medium';
    color: black;
    font-size: 40px;
    text-decoration: none;
    margin-right: 3%;
    
}

.lisainfo{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 16px;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.109);
    padding: 3px;
}

.test {
    width: 50%;
    height: 100%;
}
.rida2{
    padding-left: 10px;
    display:flex;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.109);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hinnad {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 50px;
}